---
export interface Props {}
---
<section class="bg-background text-primary py-section px-6 text-center">
  <a href="mailto:hello@yourdomain.com" class="text-3xl md:text-4xl font-bold underline hover:no-underline">hello@yourdomain.com</a>
</section> 