---
export interface Props {
  title: string;
  pubDate?: string;
  tags?: string[];
}
const { title, pubDate, tags } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={title} />
    {pubDate && <meta name="pubdate" content={pubDate} />}
    {tags && <meta name="keywords" content={tags.join(', ')} />}
  </head>
  <body class="site-body prose mx-auto">
    <slot />
  </body>
</html> 